
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

.header-bg-alt {
  background-image: -webkit-linear-gradient(top, #F8F8EC 0%, #E5E1FF 80%);
  background-image: linear-gradient(-180deg, #F8F8EC 0%, #E5E1FF 80%);
  background-size: 1200px 950px;
  background-repeat: repeat;
  color: #4e4e4e;
  background-position: center;
  height: 100vh;
}